#list {
	display: block;
	width: 70%;
	height: 80%;
	margin: 0 auto;
	padding: 10px 0;
}
#parent-list {
	display: block;
	width: 70%;
	height: 20%;
	margin: 0 auto;
	border: 1px solid blue;
	border-radius: 5px;
	padding: 10px 0;
	list-style: none;
}
#parent-list li {
	display: inline-block;
	margin-right: 10px;
	color: white;
	background-color: grey;
}